# Python
**/.venv/*
**/.env
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/

# Terraform
**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc

# SSH Keys
**/*.pem
**/*.key
**/*.pub
**/ssh-key*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/
**/*.swp
**/*.swo
**/*~

## crypto-robot specific
**/*.log
/robot3/nul

